---
---

@import "{{ site.theme }}";

.page-header {
	padding-top: 1rem;
	padding-bottom: 0.01rem;
	color: #fff;
	text-align: center;
	background-color: #bb0;
	background-image: linear-gradient(-45deg, #bb0, #000);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #880;
}